.loader {
	margin: 3rem 0;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	animation: spin 1s linear infinite;
}

.size-equalizer {
	width: 550px;
	height: 550px;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.user-info-text {
	color: red;
	font-size: large;
	margin-top: 0.4rem;
	font-weight: 600;
}
